#map {
    height: fill;
    width: fill;
}

.main-container {
    max-width: 70em;
}

.nav-menu .nav-link {
    background-color: transparent;
    padding: .25rem;
    border-bottom: .25rem solid transparent;
}

#map-container {
    background-color: teal;
}

body, html {
    height: 100%;
}

